<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Informate.com</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="stylesheet" href="estilos.css">
	<link rel="stylesheet" href="css/style.css">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<body>
	<div class="contenedor">

		
		<header>
			<div class="logo">
					<img id="logotipo" src="imagenes/informate.png" alt="logo_informate.com">
			</div>
	
			<div class="cab">
				<nav class="menu">
					<ul class="navigation">
						<li><a href="#" onclick="MenuDesplegable()">&#9776; Menu</a></li>
						<li><a href="index.html">Inicio</a></li>
						<li><a href="informacion.html">Información</a></li>
						<li><a href="casos.html">Casos</a></li>
						<li><a href="prevencion.html">Prevención</a></li>
						<li><a href="noticias.html">Noticias</a></li>
						<li><a href="contacto.html">Contacto</a></li>
					</ul>
				</nav>
			</div>
		</header>
		
		<script src="js/menu.js"></script>  

		<section class="main">
			<article>
				<div class="thumb">
					<img src="imagenes/coronavirus_mundo.jpg" alt="fotogria de personas en tiempo de coronavirus">
				</div>

				<h2>Número de casos en tiempo real</h2>
				
				<div class="bingwidget" data-type="covid19" data-market="en-us" data-language="en-us"></div>
				
				<script src="https://www.bing.com/widget/bootstrap.answer.js" async=""></script>

			</article>
		</section>

		<aside>
			<div class="ad">
				<h5>¿Cómo se propaga la COVID‑19?</h5>
				<p style="text-align:justify;">Una persona puede contraer la COVID‑19 por contacto con otra que esté infectada por el virus. 
					La enfermedad se propaga principalmente de persona a persona a través de las gotículas que salen despedidas de la nariz o 
					la boca de una persona infectada al toser, estornudar o hablar. Estas gotículas son relativamente pesadas, no llegan muy 
					lejos y caen rápidamente al suelo. Una persona puede contraer la COVID‑19 si inhala las gotículas procedentes de una persona 
					infectada por el virus. Por eso es importante mantenerse al menos a un metro de distancia de los demás. Estas gotículas pueden
					caer sobre los objetos y superficies que rodean a la persona, como mesas, pomos y barandillas, de modo que otras personas pueden 
					infectarse si tocan esos objetos o superficies y luego se tocan los ojos, la nariz o la boca. Por ello es importante lavarse 
					las manos frecuentemente con agua y jabón o con un desinfectante a base de alcohol. .</p> <br>

					<img id="foto" src="imagenes/casos1.png" alt="ilustracion del planeta tierra">

			</div>	

			<div class="ad">
				<h5>¿Es posible contagiarse de COVID‑19 por contacto con una persona que no presente ningún síntoma?</h5>
				<p style="text-align:justify;">La principal forma de propagación de la COVID‑19 es a través de las gotículas respiratorias expelidas 
					por alguien que tose o que tiene otros síntomas como fiebre o cansancio. Muchas personas con COVID‑19 presentan solo síntomas leves. 
					Esto es particularmente cierto en las primeras etapas de la enfermedad. Es posible contagiarse de alguien que solamente tenga una tos leve y no se sienta enfermo.<br>
					Según algunas informaciones, las personas sin síntomas pueden transmitir el virus. Aún no se sabe con qué frecuencia ocurre. La OMS está estudiando las investigaciones 
					en curso sobre esta cuestión y seguirá informando sobre las conclusiones que se vayan obteniendo. <br>


				</p> <br>

					<img id="foto" src="imagenes/casos2.jpg" alt="foto">
			</div>
			
		</aside>

		<footer>
			<div class="autor">
				<script src="js/reloj.js">
				</script>
				<p>Derechos reservados</p>
			</div>
			<div class="redes-sociales">
				<a href=#>Facebook</a>
				<a href=#>Twitter</a>
			</div>
		</footer>
	</div>
</body>
</html>