<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Informate.com</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="stylesheet" href="informacion.css">
	
	<link rel="stylesheet" href="menu.css">
	<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<body>
	<div class="contenedor">

		
		<header>
			<div class="logo">
					<img id="logotipo" src="imagenes/informate.png" alt="logo_informate.com">
			</div>
	
			<div class="cab">
				<nav class="menu">
					<ul class="navigation">
						<li><a href="#" onclick="MenuDesplegable()">&#9776; Menu</a></li>
						<li><a href="index.html">Inicio</a></li>
						<li><a href="informacion.html">Información</a></li>
						<li><a href="https://www.ortopediasilvio.com/blog/mapa-en-tiempo-real-de-contagios-de-coronavirus-covid-19-en-el-mundo/">Casos</a></li>
						<li><a href="prevencion.html">Prevención</a></li>
						<li><a href="noticias.html">Noticias</a></li>
						<li><a href="contacto.html">Contacto</a></li>
					</ul>
				</nav>
			</div>
		</header>
		


		<section class="main">
			<article>
				<div class="thumb">
					<img src="imagenes/Info.jpg" alt="informacion">
				</div>
				<h2>Coronavirus en Bolivia</h2>
				<li><a href="http://data.eldeber.com.bo/seccion/covid19/#view-1">Casos en Bolivia</a></li>
				<p style="text-align:justify;">El presidente del directorio de la Caja Nacional de Salud (CNS), 
					Marco Salvatierra, informó este viernes que desde el inicio de la emergencia sanitaria por 
					el coronavirus COVID-19, se destinaron Bs 425 millones para enfrentar la lucha contra esa 
					enfermedad.</p>

				<p style="text-align:justify;">"Desde el inicio de la pandemia habíamos presupuestado recursos 
					para poder enfrentar al COVID-19 y hemos otorgado a nivel nacional 425.728.758 bolivianos 
					para comprar insumos y equipos de bioseguridad para nuestros profesionales y dar una mejor 
					atención a nuestros pacientes", informó Salvatierra, en conferencia de prensa.<br>

					Explicó que esos recursos son destinados exclusivamente para luchar contra esa 
					enfermedad, que a la fecha en el país infectó a 28.503 personas, independientemente 
					del Presupuesto Operativo Anual (POA) asignado a esa entidad aseguradora.<br>
				</p>

					<h2>Bolivia reporta 920 nuevos contagios de coronavirus y 21 fallecidos</h2>
					
					<p style="text-align:justify;">Datos por departamento:</p>
					<ul class="ul" style="text-align:justify;">
						<li>Casos hoy en dia.</li>
						<li>Casos en Bolivia se incrementan.</li>
						<li>Reportes de casos por departamento.</li>
					</ul>

					<img class="imagen" src="imagenes/26j.jpeg" alt="coronavirus">

					<p style="text-align:justify;"> La Paz, 26 jun (UC/MS).- Bolivia registró hoy 920 contagios de
						 coronavirus y 21 fallecidos a nivel nacional, informó hoy el Ministerio de Salud, que 
						 insistió en la responsabilidad social para reportar los casos sospechosos y frenar la 
						 propagación del virus.</p>

						 <p style="text-align:justify;"> Cochabamba reportó hoy 263 nuevos contagios, Santa Cruz 
							222, La Paz 207, Oruro 71, Chuquisaca 54, Pando 49, Tarija 39, Beni 14 y Potosí 1.
							Con esos números, Bolivia acumuló 29.423 casos positivos de COVID-19, de los que 20.753 están activos.

							Según el Ministerio de Salud, la cifra acumulada de contagios se divide en los departamentos
							 de Santa Cruz con 16.777, Beni 3.934, Cochabamba 3.233, La Paz 2.580, Oruro 792, Potosí 589,
							  Pando 562, Chuquisaca 524 y Tarija 432.<br>
							
							El nuevo reporte incluye 21 decesos (Santa Cruz 8, Beni 6, Cochabamba 4, Pando 2 y La Paz 1),
							 haciendo un total de 934 fallecidos a nivel nacional.<br>
							
							La cantidad acumulada de pruebas negativas llega a 39.207 y se contabilizaron 3.280 casos
							 sospechosos de coronavirus por el momento.
						</p>

					<h2>Ministerio de Salud desarrolla capacitación virtual sobre ayuda psicológica al personal que
						 trabaja contra la COVID-19</h2>
					<p style="text-align:justify;">    La Paz, 27 jun (UC/MS).- El Ministerio de Salud organizó una
						capacitación virtual sobre conocimientos técnicos y entrenamiento de habilidades
						psicoterapéuticas frente a la situación de estrés que enfrenta el personal de salud que
						trabaja en primera línea para mitigar el contagio de COVID-19 en el país.<br>

						Esa actividad, estuvo a cargo del Área de Salud Mental y Prevención de Adicciones,
						dependiente de la Dirección General de Promoción de la Salud, junto al Programa
						Nacional Telesalud, la Pastoral Caritas Diocesana Coroico y la organización no
						gubernamental Christian Blind Mission Internacional.<br>
						
						La "Capacitación Virtual de Primera Ayuda Psicológica" tuvo más de 900 participantes,
						entre personal de salud del primer nivel de atención, equipos de calificación de
						Unidades de Discapacidad, responsables de Salud Mental de los nueve Servicios
						Departamentales de Salud (SEDES), voluntarios y personas que brindan apoyo humanitario
						en sus comunidades.<br>
						
						La capacitación contó con expositores nacionales e internacionales que abarcaron
						temas como las intervenciones en emergencias, catástrofes, desastres, situaciones
					    críticas y sociales, además de primera ayuda psicológica tanto para adultos como
					    para niños, entre otros.<br>
						
						La capacitación virtual posibilitó, además, reforzar el conocimiento del personal 
						de salud para apoyar a los pacientes frente a una situación de estrés por la espera 
						de un diagnóstico positivo o negativo de COVID-19.</p>

						<img class="imagen" src="imagenes/cor.jpg" alt="coronavirus">
			</article>
		</section>

		<aside>
			<div class="ad">
				<h5>COVID-19</h5>
				<p style="text-align:justify;">La COVID-19 es la enfermedad infecciosa causada por 
					el coronavirus que se ha descubierto más recientemente.<BR>

					Causa infecciones respiratorias que pueden ir desde el resfriado común 
					hasta enfermedades más graves como el síndrome respiratorio.<BR>
					
					La mayoría de las personas que se infectan de COVID-19 padecen una enfermedad 
					leve y se recuperan, pero en otros casos puede ser más grave.<BR>
					
					Para evitar su diseminación es muy importante que usted y su familia sigan las 
					recomendaciones de prevención detalladas en este sitio web.<BR>
					
					</p> <br>

					<img id="foto" src="http://i.dailymail.co.uk/i/pix/2015/11/11/19/2E59EB1D00000578-3314247-SARS_CoV_presents_much_like_flu_symptoms_but_can_accelerate_comp-a-4_1447270833741.jpg" alt="foto">

			</div>	

			<div class="ad">
				<h5>Mers-Cov</h5>
				<p style="text-align:justify;">El coronavirus causante del síndrome respiratorio de Oriente Medio (MERS) 
					fue detectado por primera vez en 2012 en Arabia Saudita. Se han notificado 
					hasta octubre de 2019 más de 2.400 casos de infección en distintos países, 
					con más de 800 muertes. La letalidad es, por tanto, del 35%.</p> <br>

					<img id="foto" src="https://dlg7f0e93aole.cloudfront.net/wp-content/uploads/MERS-CoV.jpg" alt="foto">
			</div>
			<div class="ad">
				<h5>Coronavirus animal</h5>
				<p style="text-align:justify;">También se sabe que los coronavirus infectan a cualquier animal que vive a 
					nuestro alrededor, incluido el ganado y la vida silvestre, y causan una variedad de enfermedades.<br>
					Además de los animales domésticos como:</p>
					<ul class="lista">
						<li >Perros</li>
						<li>Gatos</li>
						<li>Vacas</li>
						<li>Cerdos</li>
						<li>Pollos</li>
						<li>Caballos</li>
						<li>Alpacas</li>
						<li>Camellos</li>
					</ul>
						<p>Se han detectado coronavirus específicos de cada animal en:</p>
					<ul class="lista">
							<li>Beluga</li>
							<li>Jirafa</li>
							<li>Huron</li>
							<li>Murcielagos</li>
							<li>Gorriones</li>
					</ul>
					<p>En muchos casos, también se conocen coronavirus que causan solo síntomas respiratorios y diarrea en el animal huésped pero que causan síntomas letales. <br>

						Para los animales domésticos, el virus de la diarrea epidémica porcina (PEDV), el virus de la gastroenteritis infecciosa porcina (TGEV).</p>
						<ol class="lista">
							<li>El virus de la bronquitis infecciosa del pollo (IBV).</li>
							<li>Los animales de experimentación son el virus de la hepatitis del ratón (MHV).</li>
							<li>Y las mascotas son el virus de la peritonitis infecciosa felina (FIPV)), es fatal.</li> <br>	
						</ol>

						<img id="foto" src="https://3c1703fe8d.site.internapcdn.net/newman/csz/news/800/2018/newcoronavir.jpg" alt="foto"> 
			</div>
		</aside>

		<footer>
			<div class="autor">
				<p>Derechos reservados</p>
			</div>
			
			<div class="redes-sociales">
				<a href=#>Facebook</a>
				<a href=#>Twitter</a>
			</div>

			
		</footer>
	</div>
	<script src="menu.js"></script>  
</body>
</html>