<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Informate.com</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="stylesheet" href="estilos.css">
</head>
<body>
	<div class="contenedor">

		
		<header>
			<div class="logo">
					<img id="logotipo" src="imagenes/informate.png" alt="logo_informate.com">
			</div>
	
			<div class="cab">
				<nav class="menu">
					<ul>
						<li><a href="index.html">Inicio</a></li>
						<li><a href="informacion.html">Información</a></li>
						<li><a href="https://www.insp.mx/nuevo-coronavirus-2019/bienvenida-nuevo-coronavirus.html">Casos</a></li>
						<li><a href="prevencion.html">Prevención</a></li>
						<li><a href="noticias.html">Noticias</a></li>
						<li><a href="contacto.html">Contacto</a></li>
					</ul>
				</nav>
			</div>
		</header>
		


		<section class="main">
			<article>
				<div class="thumb">
					<img src="imagenes/Info.jpg" alt="informacion">
				</div>
				<h2>¿Qué es el coronavirus?</h2>
				<p style="text-align:justify;">El Covid-19 pertenece a la familia de los coronavirus -unos 12 conocidos-,
					 cuyas siglas son CoV, y no se había dado anteriormente en humanos. 
					 Los más conocidos de esta rama son el síndrome de Oriente Medio (MERS-CoV) 
					 y el síndrome respiratorio severo (SRAS-CoV), causando este más de 700 muertos 
					 en Asia en 2003.</p>

				<p style="text-align:justify;">La familia del coronavirus se descubrió en la década de los
					 60 pero cuyo origen es todavía desconocido. Sus diferentes tipos provocan 
					 distintas enfermedades, desde un resfriado hasta un síndrome respiratorio grave 
					 (una forma grave de neumonía).<br>

					Gran parte de los coronavirus no son peligrosos y se pueden tratar de 
					forma eficaz. De hecho, la mayoría de las personas contraen en algún
					 momento de su vida un coronavirus, generalmente durante su infancia. 
					 Aunque son más frecuentes en otoño o invierno, se pueden adquirir en 
					 cualquier época del año.
					
					El coronavirus debe su nombre al aspecto que presenta, ya que es muy 
					parecido a una corona o un halo. Se trata de un tipo de virus presente 
					sobre todo en los animales, pero también en los humanos.</p>

					<h2>¿Cuáles son los síntomas?</h2>
					
					<p style="text-align:justify;">Las personas con COVID-19 tienen los siguientes signos y síntomas:</p>
					<ul class="ul" style="text-align:justify;">
						<li>Tos y/o fiebre y/o dolor de cabeza.</li>
						<li>Y se acompaña de al menos uno de los siguientes: dolor o ardor de garganta, 
							ojos rojos, dolores en músculos o articulaciones (malestar general).</li>
						<li>Los casos más graves tienen dificultades para respirar o falta de aire en sus pulmones.</li>
					</ul>

					<img class="imagen" src="imagenes/sintomas1.PNG" alt="coronavirus">

					<p style="text-align:justify;">Si tiene problemas respiratorios graves, como dificultad para respirar, 
						solicite siempre atención médica o contacte con su servicio de emergencias local. Cualquier persona 
						que se encuentre hospitalizada por una infección respiratoria aguda será sometida a un test del 
						coronavirus cuando se hayan descartado otras posibles causas infecciosas que puedan justificar el cuadro
						 clínico, independientemente de si ha estado en contacto estrecho con un contagiado o si ha viajado a un 
						 foco de infección en las dos semanas previas.</p>

					<h2>¿Qué hago si sospecho que estoy contagiado?</h2>
					<p style="text-align:justify;">Los países de América Latina presentan grados muy diferentes de desarrollo de casos y, 
						en consecuencia, también varían mucho las medidas que han tomado para evitar el contagio. Sin embargo, incluso en 
						aquellas sociedades en las que no se ha dictado cuarentena obligatoria, se recomienda a los ciudadanos —tengan o 
						no síntomas— permanecer en sus domicilios durante al menos 15 días, salvo para compra de alimentos, productos de 
						primera necesidad, cuidado de personas dependientes y desplazamientos ineludibles, con el fin de frenar los contagios. 
						Si presenta síntomas, contacte telefónicamente con los números telefónicos que ha habilitado su país para brindar 
						asesoramiento sobre el coronavirus; ellos le indicarán si debe o no acudir a un centro sanitario. Si los síntomas 
						son leves es posible que le recomienden continuar con el aislamiento domiciliario. Si ha viajado a zonas consideradas 
						como focos de infección o ha estado en contacto estrecho con un contagiado la primera medida que debe tomar es el 
						aislamiento domiciliario durante al menos 14 días.</p>


			</article>
		</section>

		<aside>
			<div class="ad">
				<h5>Sars-Cov</h5>
				<p style="text-align:justify;">El síndrome respiratorio agudo y grave (SARS, también conocido como SRAS y SRAG) 
					se inició en noviembre de 2002 en China, afectó a más de 8.000 personas en 37 
					países y provocó más de 700 muertes. La mortalidad del SRAS-Cov se ha cifrado 
					en el 10% aproximadamente.</p> <br>

					<img id="foto" src="http://i.dailymail.co.uk/i/pix/2015/11/11/19/2E59EB1D00000578-3314247-SARS_CoV_presents_much_like_flu_symptoms_but_can_accelerate_comp-a-4_1447270833741.jpg" alt="foto">

			</div>	

			<div class="ad">
				<h5>Mers-Cov</h5>
				<p style="text-align:justify;">El coronavirus causante del síndrome respiratorio de Oriente Medio (MERS) 
					fue detectado por primera vez en 2012 en Arabia Saudita. Se han notificado 
					hasta octubre de 2019 más de 2.400 casos de infección en distintos países, 
					con más de 800 muertes. La letalidad es, por tanto, del 35%.</p> <br>

					<img id="foto" src="https://dlg7f0e93aole.cloudfront.net/wp-content/uploads/MERS-CoV.jpg" alt="foto">
			</div>
			<div class="ad">
				<h5>Coronavirus animal</h5>
				<p style="text-align:justify;">También se sabe que los coronavirus infectan a cualquier animal que vive a 
					nuestro alrededor, incluido el ganado y la vida silvestre, y causan una variedad de enfermedades.<br>
					Además de los animales domésticos como:</p>
					<ul class="lista">
						<li >Perros</li>
						<li>Gatos</li>
						<li>Vacas</li>
						<li>Cerdos</li>
						<li>Pollos</li>
						<li>Caballos</li>
						<li>Alpacas</li>
						<li>Camellos</li>
					</ul>
						<p>Se han detectado coronavirus específicos de cada animal en:</p>
					<ul class="lista">
							<li>Beluga</li>
							<li>Jirafa</li>
							<li>Huron</li>
							<li>Murcielagos</li>
							<li>Gorriones</li>
					</ul>
					<p>En muchos casos, también se conocen coronavirus que causan solo síntomas respiratorios y diarrea en el animal huésped pero que causan síntomas letales. <br>

						Para los animales domésticos, el virus de la diarrea epidémica porcina (PEDV), el virus de la gastroenteritis infecciosa porcina (TGEV).</p>
						<ol class="lista">
							<li>El virus de la bronquitis infecciosa del pollo (IBV).</li>
							<li>Los animales de experimentación son el virus de la hepatitis del ratón (MHV).</li>
							<li>Y las mascotas son el virus de la peritonitis infecciosa felina (FIPV)), es fatal.</li> <br>	
						</ol>

						<img id="foto" src="https://3c1703fe8d.site.internapcdn.net/newman/csz/news/800/2018/newcoronavir.jpg" alt="foto"> 
			</div>
		</aside>

		<footer>
			<div class="autor">
				<p>Derechos reservados</p>
			</div>
			<div class="redes-sociales">
				<a href=#>Facebook</a>
				<a href=#>Twitter</a>
			</div>
		</footer>
	</div>
</body>
</html>