<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Informate.com</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="stylesheet" href="estilos.css">
	<link rel="stylesheet" href="css/style.css">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<body>
	<div class="contenedor">

		
		<header>
			<div class="logo">
					<img id="logotipo" src="imagenes/informate.png" alt="logo_informate.com">
			</div>
	
			<div class="cab">
				<nav class="menu">
					<ul class="navigation">
						<li><a href="#" onclick="MenuDesplegable()">&#9776; Menu</a></li>
						<li><a href="index.html">Inicio</a></li>
						<li><a href="informacion.html">Información</a></li>
						<li><a href="casos.html">Casos</a></li>
						<li><a href="prevencion.html">Prevención</a></li>
						<li><a href="noticias.html">Noticias</a></li>
						<li><a href="contacto.html">Contacto</a></li>
					</ul>
				</nav>
			</div>
		</header>
		
		<script src="js/menu.js"></script>  


		<section class="main">
			<article>
				<div class="thumb">
					<img src="imagenes/not.jpg" alt="coronavirus">
				</div>
				<h2>Bolivia ingresará a una cuarentena dinámica desde junio controlada por los subgobiernos</h2>
				<p style="text-align:justify;">El ministro de Desarrollo Productivo y Economía Plural, 
					Óscar Ortiz informó este jueves que el gabinete ministerial aprobó varios decretos, 
					entre ellos el que determina que Bolivia ingresará a una cuarentena dinámica, pero 
					regida por los gobiernos departamentales y municipales desde junio.<br>

					“El gabinete ministerial ha aprobado varios decretos hoy (jueves), especialmente el 
					que regula la cuarentena de junio, una cuarentena nacional dinámica y condicionada, 
					en la que se va a permitir reanudar algunas actividades que aún no estaban operando”, 
					señaló Ortiz.<br>
					
					La autoridad añadió que esta nueva cuarentena “establece mayores niveles de decisión a 
					los gobiernos municipales y departamentales para que cada uno de ellos, en el marco de 
					sus centros de operaciones de emergencias municipales y departamentales (COE) puedan definir 
					y regular (la cuarentena)”. Mientras que la circulación del transporte interdepartamental 
					dependerá del Gobierno nacional, el transporte interprovincial e intermunicipal de las 
					gobernaciones y las alcaldías se encargarán del transporte que circula en su jurisdicción.</p>

				<p style="text-align:justify;">Ortiz explicó que el Gobierno establece un rango de horario 
					entre las 05:00 y 18:00 para la circulación, sin embargo, cada departamento y municipio 
					debe regular los horarios de los distintos sectores que reinicien sus actividades. Dijo 
					que se busca que sean horarios de media jornada continua para evitar el mayor  traslado 
					posible de gente.<br>

					Respecto a las salidas según el último dígito de la cédula de identidad, 
					el ministro refirió que esa medida ya no está vigente porque ahora se podrá 
					circular en los horarios mencionados. Finalmente, recordó que el concepto de 
					la cuarentena dinámica significa que las restricciones en mayor o menor grado 
					dependerán obviamente de la evaluación epidemiológica.<br>

					</p>

					<h2>Policía registra 527 efectivos contagiados con coronavirus en el país</h2>
					
					<img class="imagen" src="imagenes/poli.jpg" alt="coronavirus">

					<p style="text-align:justify;">La Policía registra 527 efectivos en todo el país 
						contagiados por el coronavirus, que se concentran en mayor cantidad en Santa Cruz, 
						según informó el sábado el viceministro de Seguridad Ciudadana, Wilson Satamaría.<br>


						Santa Cruz tiene a 219 efectivos contagiados y 65 sospechosos; La Paz, 97 contagios 
						y 81 casos con síntomas; Beni, 77; Cochabamba, 71; Chuquisaca, 33; Tarija, 12; Oruro, 
						11; Potosí, cinco; y Pando, dos.</p>
						<p style="text-align:justify;">Asimismo, Santamaría explicó que el incremento de casos 
							positivos en las Fuerzas del Orden produce la disminución del personal en ciertas 
							regiones. “Los protocoles establecen aislamiento de las líneas de contacto que han 
							tenido estos oficiales que han dado positivo, y entretanto cumplan la verificación 
							son sospechosos, y entretanto son sospechosos mantienen aislamiento”, manifestó la 
							autoridad.</p>

					<h2>Gobierno entrega una tonelada de equipos médicos para los hospitales centinela de Cochabamba</h2>
					<p style="text-align:justify;">El ministro de Trabajo, Óscar Mercado, entregó el sábado una tonelada 
						de insumos y equipos de salud en Cochabamba para los hospitales centinela vallunos y así 
						fortalecer  la atención de pacientes con coronavirus en uno de los departamentos más golpeados 
						del país por la pandemia con 3.233 contagios.<br>


						“En nombre y en representación de la presidente Jeanine Áñez, hemos hecho entrega de casi 
						una tonelada de equipos para los centros Covid (…) se ha entregado una diversidad de insumos 
						y de equipos para mejorar nuestra capacidad hospitalaria en la contención del coronavirus”, 
						informó Mercado.<br>
						
						Entre los equipos que se entregaron, la autoridad mencionó que se entregaron desde monitores 
						para terapia intensiva, válvulas de infusión, camas de tres movimientos, colchones, pedestales 
						para sueros, entre otros. También se entregaron reactivos para realizar pruebas de coronavirus.</p>


			</article>
		</section>

		<aside>
			<div class="ad">
				<h5>Pocos donantes para tanta esperanza, la realidad del plasma en Bolivia</h5>
				<p style="text-align:justify;">“No tengo problema en poner mi nombre, no debo nada a nadie. 
					Por favor haga un artículo para que la gente se anime y para que haya protección de las autoridades 
					a esas familias que no donan por el temor a la discriminación”, pide Mario Páez, exenfermo de Covid-19
					 que donó su plasma a Erlan Pérez, médico de Emergencias del hospital Japonés. <br>
					 Es uno de pocos. Hasta el cierre de edición, según datos del Banco Regional de Sangre, apenas seis 
					 personas en Santa Cruz de la Sierra habían donado el plasma que saca de las garras de la muerte a los 
					 pacientes que se acercan a la fase crítica, y dos policías estaban en evaluación. <br> 
					 Horas antes, Yitzhak Leigue, director del Banco de Sangre, indicó que de una lista extraoficial e inicial de 60 posibles 
					 donantes quedaron 10 y solo se presentaron cuatro; los otros fallaron a la cita y no contestaron el teléfono. <br>
					 “De los donantes solo dos quisieron dar entrevistas, los demás han sufrido mucha discriminación en sus barrios y en sus trabajos. 
					 Necesitamos que las personas se animen, estamos tratando de explicar en los medios, quizás las personas piensan que se trata de una cirugía, 
					 que se van a descompensar. No pasa eso porque es agua lo que se dona, es líquido de la sangre, incluso se puede donar cada semana”, dice Leigue.</p> <br>

					<img id="foto" src="imagenes/plasma.jpeg" alt="foto de un donante de plasma">

			</div>	

			<div class="ad">
				<h5>Bolivia reporta 2.556 personas contagiadas con coronavirus y 118 muertes, en dos meses</h5>
				<p style="text-align:justify;">A dos meses de que se registrara el primer caso positivo en Bolivia, el coronavirus se expandió, llegó a 2.556 contagiados y mató a 118 personas. 
					El Ministerio de Salud reportó que este domingo se confirmaron 119 casos y cuatro nuevos decesos. <br> 
					De los nuevos casos reportados hoy, 96 corresponden a Santa Cruz, nueve a Cochabamba, ocho a La Paz, tres a Oruro, dos a Beni y uno a Chuquisaca. <br>
					A la fecha, el departamento de Santa Cruz tiene 1.633 personas contagiadas, Beni 314, La Paz 309, Oruro 124, Cochabamba 104, Potosí 35, Chuquisaca 15, Pando 12 y Tarija 10. 
					El reporte oficial confirmó también el deceso de cuatro víctimas por coronavirus: Tres en Santa Cruz y una en Oruro, con lo que el número de fallecidos por la enfermedad, sube a 118 en todo el territorio nacional. <br>
					Hasta el momento, 273 contagiados con el virus se recuperaron y recibieron su alta médica. Se contabilizaron 9.115 pruebas descartadas y se espera el resultado de otras 461 que corresponden a casos sospechosos. <br>
				</p> <br>

					<img id="foto" src="imagenes/casos.jpg" alt="fotografia de personas transitando la calle">
			</div>
			<div class="ad">
				<h5>Soldados de bata blanca, mermados y asustados</h5>
				<p style="text-align:justify;"> Solo en el Materno Infantil de Trinidad, donde trabaja, hay varios colegas confirmados con Covid-19, incluyéndolo a él. No tiene cifras exactas, 
					pero considera que al menos diez personas de su sector han fallecido. Para Suárez, uno de los mayores problemas de este contagio masivo es la escasez y tardanza en las pruebas, 
					que además se interpone con la magnitud y urgencia de los pedidos de plasma hiperinmune.</p> <br>
						<img id="foto" src="imagenes/medicos.jpeg" alt="fotografia de un medico"> 
			</div>
		</aside>

		<footer>
			<div class="autor">
				<p>Derechos reservados</p>
			</div>
			<div class="redes-sociales">
				<a href=#>Facebook</a>
				<a href=#>Twitter</a>
			</div>
		</footer>
	</div>
</body>
</html>