<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Informate.com</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="stylesheet" href="noticias.css">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<body>
	<div class="contenedor">

		
		<header>
			<div class="logo">
					<img id="logotipo" src="imagenes/informate.png" alt="logo_informate.com">
			</div>
	
			<div class="cab">
				<nav class="menu">
					<ul>
						<li><a href="index.html">Inicio</a></li>
						<li><a href="informacion.html">Información</a></li>
						<li><a href="https://www.ortopediasilvio.com/blog/mapa-en-tiempo-real-de-contagios-de-coronavirus-covid-19-en-el-mundo/">Casos</a></li>
						<li><a href="prevencion.html">Prevención</a></li>
						<li><a href="noticias.html">Noticias</a></li>
						<li><a href="contacto.html">Contacto</a></li>
					</ul>
				</nav>
			</div>
		</header>
		


		<section class="main">
			<article>
				<div class="thumb">
					<img src="imagenes/not.jpg" alt="coronavirus">
				</div>
				<h2>Bolivia ingresará a una cuarentena dinámica desde junio controlada por los subgobiernos</h2>
				<p style="text-align:justify;">El ministro de Desarrollo Productivo y Economía Plural, 
					Óscar Ortiz informó este jueves que el gabinete ministerial aprobó varios decretos, 
					entre ellos el que determina que Bolivia ingresará a una cuarentena dinámica, pero 
					regida por los gobiernos departamentales y municipales desde junio.<br>

					“El gabinete ministerial ha aprobado varios decretos hoy (jueves), especialmente el 
					que regula la cuarentena de junio, una cuarentena nacional dinámica y condicionada, 
					en la que se va a permitir reanudar algunas actividades que aún no estaban operando”, 
					señaló Ortiz.<br>
					
					La autoridad añadió que esta nueva cuarentena “establece mayores niveles de decisión a 
					los gobiernos municipales y departamentales para que cada uno de ellos, en el marco de 
					sus centros de operaciones de emergencias municipales y departamentales (COE) puedan definir 
					y regular (la cuarentena)”. Mientras que la circulación del transporte interdepartamental 
					dependerá del Gobierno nacional, el transporte interprovincial e intermunicipal de las 
					gobernaciones y las alcaldías se encargarán del transporte que circula en su jurisdicción.</p>

				<p style="text-align:justify;">Ortiz explicó que el Gobierno establece un rango de horario 
					entre las 05:00 y 18:00 para la circulación, sin embargo, cada departamento y municipio 
					debe regular los horarios de los distintos sectores que reinicien sus actividades. Dijo 
					que se busca que sean horarios de media jornada continua para evitar el mayor  traslado 
					posible de gente.<br>

					Respecto a las salidas según el último dígito de la cédula de identidad, 
					el ministro refirió que esa medida ya no está vigente porque ahora se podrá 
					circular en los horarios mencionados. Finalmente, recordó que el concepto de 
					la cuarentena dinámica significa que las restricciones en mayor o menor grado 
					dependerán obviamente de la evaluación epidemiológica.<br>

					</p>

					<h2>Policía registra 527 efectivos contagiados con coronavirus en el país</h2>
					
					<img class="imagen" src="imagenes/poli.jpg" alt="coronavirus">

					<p style="text-align:justify;">La Policía registra 527 efectivos en todo el país 
						contagiados por el coronavirus, que se concentran en mayor cantidad en Santa Cruz, 
						según informó el sábado el viceministro de Seguridad Ciudadana, Wilson Satamaría.<br>


						Santa Cruz tiene a 219 efectivos contagiados y 65 sospechosos; La Paz, 97 contagios 
						y 81 casos con síntomas; Beni, 77; Cochabamba, 71; Chuquisaca, 33; Tarija, 12; Oruro, 
						11; Potosí, cinco; y Pando, dos.</p>
						<p style="text-align:justify;">Asimismo, Santamaría explicó que el incremento de casos 
							positivos en las Fuerzas del Orden produce la disminución del personal en ciertas 
							regiones. “Los protocoles establecen aislamiento de las líneas de contacto que han 
							tenido estos oficiales que han dado positivo, y entretanto cumplan la verificación 
							son sospechosos, y entretanto son sospechosos mantienen aislamiento”, manifestó la 
							autoridad.</p>

					<h2>Gobierno entrega una tonelada de equipos médicos para los hospitales centinela de Cochabamba</h2>
					<p style="text-align:justify;">El ministro de Trabajo, Óscar Mercado, entregó el sábado una tonelada 
						de insumos y equipos de salud en Cochabamba para los hospitales centinela vallunos y así 
						fortalecer  la atención de pacientes con coronavirus en uno de los departamentos más golpeados 
						del país por la pandemia con 3.233 contagios.<br>


						“En nombre y en representación de la presidente Jeanine Áñez, hemos hecho entrega de casi 
						una tonelada de equipos para los centros Covid (…) se ha entregado una diversidad de insumos 
						y de equipos para mejorar nuestra capacidad hospitalaria en la contención del coronavirus”, 
						informó Mercado.<br>
						
						Entre los equipos que se entregaron, la autoridad mencionó que se entregaron desde monitores 
						para terapia intensiva, válvulas de infusión, camas de tres movimientos, colchones, pedestales 
						para sueros, entre otros. También se entregaron reactivos para realizar pruebas de coronavirus.</p>


			</article>
		</section>

		<aside>
			<div class="ad">
				<h5>Sars-Cov</h5>
				<p style="text-align:justify;">El síndrome respiratorio agudo y grave (SARS, también conocido como SRAS y SRAG) 
					se inició en noviembre de 2002 en China, afectó a más de 8.000 personas en 37 
					países y provocó más de 700 muertes. La mortalidad del SRAS-Cov se ha cifrado 
					en el 10% aproximadamente.</p> <br>

					<img id="foto" src="http://i.dailymail.co.uk/i/pix/2015/11/11/19/2E59EB1D00000578-3314247-SARS_CoV_presents_much_like_flu_symptoms_but_can_accelerate_comp-a-4_1447270833741.jpg" alt="foto">

			</div>	

			<div class="ad">
				<h5>Mers-Cov</h5>
				<p style="text-align:justify;">El coronavirus causante del síndrome respiratorio de Oriente Medio (MERS) 
					fue detectado por primera vez en 2012 en Arabia Saudita. Se han notificado 
					hasta octubre de 2019 más de 2.400 casos de infección en distintos países, 
					con más de 800 muertes. La letalidad es, por tanto, del 35%.</p> <br>

					<img id="foto" src="https://dlg7f0e93aole.cloudfront.net/wp-content/uploads/MERS-CoV.jpg" alt="foto">
			</div>
			<div class="ad">
				<h5>Coronavirus animal</h5>
				<p style="text-align:justify;">También se sabe que los coronavirus infectan a cualquier animal que vive a 
					nuestro alrededor, incluido el ganado y la vida silvestre, y causan una variedad de enfermedades.<br>
					Además de los animales domésticos como:</p>
					<ul class="lista">
						<li >Perros</li>
						<li>Gatos</li>
						<li>Vacas</li>
						<li>Cerdos</li>
						<li>Pollos</li>
						<li>Caballos</li>
						<li>Alpacas</li>
						<li>Camellos</li>
					</ul>
						<p>Se han detectado coronavirus específicos de cada animal en:</p>
					<ul class="lista">
							<li>Beluga</li>
							<li>Jirafa</li>
							<li>Huron</li>
							<li>Murcielagos</li>
							<li>Gorriones</li>
					</ul>
					<p>En muchos casos, también se conocen coronavirus que causan solo síntomas respiratorios y diarrea en el animal huésped pero que causan síntomas letales. <br>

						Para los animales domésticos, el virus de la diarrea epidémica porcina (PEDV), el virus de la gastroenteritis infecciosa porcina (TGEV).</p>
						<ol class="lista">
							<li>El virus de la bronquitis infecciosa del pollo (IBV).</li>
							<li>Los animales de experimentación son el virus de la hepatitis del ratón (MHV).</li>
							<li>Y las mascotas son el virus de la peritonitis infecciosa felina (FIPV)), es fatal.</li> <br>	
						</ol>

						<img id="foto" src="https://3c1703fe8d.site.internapcdn.net/newman/csz/news/800/2018/newcoronavir.jpg" alt="foto"> 
			</div>
		</aside>

		<footer>
			<div class="autor">
				<p>Derechos reservados</p>
			</div>
			<div class="redes-sociales">
				<a href=#>Facebook</a>
				<a href=#>Twitter</a>
			</div>
		</footer>
	</div>
</body>
</html>