<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Informate.com</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="stylesheet" href="estilos.css">
	<link rel="stylesheet" href="css/style.css">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<body>
	<div class="contenedor">

		
		<header>
			<div class="logo">
					<img id="logotipo" src="imagenes/informate.png" alt="logo_informate.com">
			</div>
	
			<div class="cab">
				<nav class="menu">
					<ul class="navigation">
						<li><a href="#" onclick="MenuDesplegable()">&#9776; Menu</a></li>
						<li><a href="index.html">Inicio</a></li>
						<li><a href="informacion.html">Información</a></li>
						<li><a href="casos.html">Casos</a></li>
						<li><a href="prevencion.html">Prevención</a></li>
						<li><a href="noticias.html">Noticias</a></li>
						<li><a href="contacto.html">Contacto</a></li>
					</ul>
				</nav>
			</div>
		</header>
		
		<script src="js/menu.js"></script>  
		


		<section class="main">
			<article>
				<div class="thumb">
					<img src="imagenes/cv.jpg" alt="coronavirus">
				</div>
				<h2>Medidas de prevención</h2>
              
				<p style="text-align:justify;">Lava tus manos con agua, jabón y gel desinfectante 
					a base de alcohol, especialmente antes de comer, después de ir al baño, sonarte 
					la nariz, toser o estornudar. Seca tus manos con toallas desechables o al aire 
					libre en posición vertical.</p>

				<p style="text-align:justify;">Evita tocar tus ojos, nariz y boca, ya que las manos 
					pueden transferir el virus y causar la enfermedad.<br>
				</p>

				<p style="text-align:justify;">Mantén una distancia mínima de un metro entre tú y 
					cualquier persona que tosa o estornude, ya que la infección por coronavirus 
					se proyecta en el aire a través de pequeñas gotículas que contiene el virus.<br>
				</p>

				<p style="text-align:justify;"> Cubre tu boca y nariz con el codo interior o con 
					un pañuelo de papel al toser o estornudar, así proteges a las personas 
					alrededor. El pañuelo usado deséchalo de inmediato.<br>
				</p>

					<h2>Cómo afrontar el impacto del Coronavirus (Covid-19) en tu empresa</h2>
					
					<p style="text-align:justify;">Una oportunidad para impulsar el trabajo remoto</p>
					<ul class="ul" style="text-align:justify;">
						
					</ul>

					<li><a href="https://www.minsalud.gob.bo/8-institucional/4154-guias-para-el-manejo-del-covid-19-ministerio-de-salud">Guias para el Manejo del COVID-19 - Ministerio de Salud</a></li> <br>

					 <li >Innova en tu modelo de negocios. </li><p style="text-align:justify;">Ya se están evindenciando las señales del 
						comportamiento del consumidor. El trabajo remoto es ahora una necesidad 
						en empresas de base tecnológica y en empresas tradicionales. Esto creará 
						sin duda alguna disrupciones digitales a largo plazo que cambiarán las 
						formas de hacer negocios.<br>
					
					 <li>Conoce los ciclos de tu negocio.</li><p style="text-align:justify;">Si ya sabes que hay una pandemia o 
						 que está por llegar debes estar preparado para ella. Es inevitable y 
						 es mejor prevenir y para eso debes de tener muy claro, tus ciclos de negocio, 
						 tiempo, abastecimientos, demandas, y caídas de precio (para soportar el impacto, 
						 en tiempo, recursos y dinero).<br>
					</p>

					 <li>Planea tu posicionamiento.</li><p style="text-align:justify;">Es importante que planees un posicionamiento y 
						 reconocimiento de tu empresa. Recuerda que el cliente necesita confianza, 
						 certidumbre y garantía. Para eso son los tres elementos de la venta: empresa 
						 producto y vendedor o persona que en que confían. Se sugiere que hagas un 
						 reconocimiento de lo que estás trabajando en tu empresa contra la pandemia, 
						 lo que estás trabajando para el bienestar de tus clientes y de su familia y 
						 además de lo que te preocupas como una responsabilidad social.<br>
					</p>
					 <li>Agrega valor.</li><p style="text-align:justify;">Ahora se trata de la pandemia del coronavirus, pero 
						 recuerda que la entrega de valor siempre debe estar constantemente 
						 evolucionando. ¿Cómo vas a agregar valor en esta situación? Por ejemplo, 
						 añade protocolos o verificaciones que den seguridad de que tu negocio 
						 está libre del virus. <br>
					</p>
					 
					<img class="imagen" src="imagenes/tra.jpeg" alt="coronavirus">

				

					<h2>¿Qué hacer en caso de tener los síntomas?</h2>
					<p style="text-align:justify;">Acude al centro de salud para 
						recibir el diagnóstico y tratamiento adecuado. Asimismo, 
						es necesario que sigas estas recomendaciones:</p>

				<ul>
					<li>No te automediques.</li> 
					<li>Sigue las indicaciones del médico.</li>
					<li>Mantente resguardado en casa.</li>
					<li>No saludes de mano, beso o abrazo.</li>
					<li>Lava tus manos con frecuencia, o bien, desinféctalas 
						con gel a base del alcohol del 70%.</li>
					<li>Utiliza una cubrebocas para evitar infección o exposición 
						de las otras personas que estén a tu alrededor.</li>
					<li>Indica a tu médico si has viajado a una zona del mundo en 
						la que se haya notificado la presencia del coronavirus, o si 
						has tenido un contacto cercano con alguien que tenga los síntomas mencionados.</li>
					<li>Consume diariamente verduras y frutas, y por lo menos 8 vasos de agua simple.</li>
					<li>Lava con agua, jabón y cloro los platos, vasos y cubiertos que utilices.</li>
				</ul> 
					<img class="imagen" src="imagenes/medico.png" alt="coronavirus">
					


			</article>
		</section>

		<aside>
			<div class="ad">
				
			
				<p style="text-align:justify;"> <strong>¿Debo evitar dar la mano a las personas por el nuevo coronavirus?</strong> <br> 
					Para prevenir la COVID-19 lo más seguro es evitar el contacto físico al saludarse. Se pueden utilizar otras formas seguras
					 como saludar con un gesto de la mano o inclinar la cabeza o el cuerpo.  </p> <br>

				<p style="text-align:justify;"> <strong>¿Cómo debería saludar a otra persona para evitar contraer la enfermedad por coronavirus (COVID-19)?</strong> <br>
					 Sí. Los virus respiratorios pueden transmitirse al darse 
							la mano y ‎tocarse los ojos, la nariz y la boca. Es mejor saludar con un gesto de la ‎mano, 
								una inclinación de la cabeza o una reverencia.‎</p> <br>
				
				<p style="text-align:justify;"> <strong>¿Usar guantes de goma cuando se está en público es una forma ‎eficaz de prevenir la infección por el nuevo coronavirus?‎</strong> <br> 
					No. Lavarse las manos con frecuencia 
					proporciona más protección ‎frente al contagio de la COVID-19 que usar guantes de goma. El hecho ‎de llevarlos puestos no impide el contagio, ya que si uno se toca la cara ‎mientras los lleva, 
					la contaminación pasa del guante a la cara y puede ‎causar la infección.‎‎</p> <br>				

					<img id="foto" src="imagenes/saludo.jpg" alt="prohibido saludar de la mano">

			</div>	

			<div class="ad">
				<h5>Cómo ayudar a los niños a gestionar el estrés durante el brote de COVID-19</h5>
				<p style="text-align:justify;">Los niños pueden responder al estrés de diversas formas, por ejemplo, mostrándose más dependientes, preocupados, 
					enfadados o agitados, encerrándose en sí mismos o mojando la cama. <br>
					Muéstrese comprensivo ante las reacciones de su hijo, escuche sus preocupaciones y ofrézcale más amor y atención. <br>
					Los niños necesitan el amor y la atención de los adultos en los momentos difíciles. Dedíqueles más tiempo y atención. <br>
					Acuérdese de escuchar a sus hijos, hablarles con amabilidad y tranquilizarles. <br>
					Cuando sea posible, organice momentos de juego y relajación con su hijo. <br> <br>

					<img id="foto" src="imagenes/niño.jpg" alt="foto">
				
				</p> <br>

					
			</div>
			<div class="ad">

				<h5>Mantener distraidos a los niños</h5>
				
				<p style="text-align:justify;"></p>En la medida de lo posible, trate de mantener a los niños cerca de sus padres y familia y evite separarlos de las personas que se encargan de su cuidado. En caso de separación 
				(por ejemplo, por hospitalización), asegúrese de mantener el contacto frecuente (por ejemplo, a través del teléfono) y de ofrecer consuelo. <br>
				Mantenga las rutinas y los horarios habituales en la medida de lo posible, o ayude a crear otros diferentes en el entorno nuevo, en particular actividades escolares y de aprendizaje, 
				así como momentos para jugar de forma segura y relajarse. <br> <br>

				Explique lo que ha pasado y cuál es la situación actual y dé a los niños información clara sobre cómo pueden reducir los riesgos de contraer la enfermedad; 
				utilice palabras que puedan entender en función de su edad. <br>
				Facilite también información sobre situaciones hipotéticas (por ejemplo, un miembro de la familia y/o el niño empiezan a encontrarse mal y 
				tienen que ir al hospital durante un tiempo para que los médicos puedan ayudarles a recuperarse). <br><br>

				
				<img id="foto" src="imagenes/niño1.jpg" alt="foto">

			</div>
		</aside>

		<footer>
			<div class="autor">
				<p>Derechos reservados</p>
			</div>
			<div class="redes-sociales">
				<a href=#>Facebook</a>
				<a href=#>Twitter</a>
			</div>
		</footer>
	</div>
</body>
</html>