<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>informate.com</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="css/estilos.css">
</head>
<body>
	<div class="contenedor">
		<header>
			
			<img src="img/informate.jpg" width="200" >
			<h1>COVID-19 EN EL MUNDO</h1>
			<nav>
				<ul class="posecionada">
					<li><a href="index.html">Inicio</a></li>
					<li><a href="info.html">Informacio</a></li>
					<li><a href="tiempo_real.html">Casos en tiempo real</a></li>
					<li><a href="noticias.html">Noticias</a></li>
				</ul>
			</nav>
		</header>
		<section class="main">
			<div class="imagen">
				<img src="img/cv.jpg" alt="">
			</div>
			<section class="posts">
				<article>
					<h2>¿Qué es el covid-19, la enfermedad del coronavirus? Síntomas, prevención y tratamiento ?</h2>
					<p>El coronavirus causante del covid-19 se ha cobrado la vida de unas 286.000
					 personas —26.920 de ellas en España— y ha infectado a más de 4.177.000
					 en todo el mundo, según el último balance global ofrecido por la Universidad 
					 Johns Hopkins. Lo que empezó como un quebradero de cabeza para China se ha
					 convertido en un problema de salud pública a nivel mundial, pues aunque la
				     mayoría de casos se registraron originalmente en el país asiático, 
				     el epicentro de la pandemia se trasladó primero a Europa, donde los Gobiernos
					 de Italia, España, Alemania y Francia han liadiado con sus respectivas curvas
					 de transmisión; y luego a Estados Unidos, que desde hace semanas es el primer
					 país en número de contagios y muertes registradas. </p>
		
					<p>España es el segundo por número de contagios, aunque ya empieza a ver la luz
					 al final del túnel. Con 228.030 casos contabilizados, lo peor de la pandemia 
					 ya ha pasado. Tal y como se esperaba, el retraso de los datos del fin de semana 
					 ha provocado un ligero repunte en los dos indicadores principales: mientras que
				     el número de muertes diarias se sitúa en 176 frente a las 123 de ayer, el incremento
				     de contagios pasa del 0,17% al 0,19%, al sumarse 426 nuevos casos. 
					 La cifra de sanitarios infectados asciende a 48.860, lo cual 
					 representa el 21,4% del total. </p>
				</article>
			</section>
		</section>
		<aside>
			<div class="widget">
				<h3 class="titulo">Articulos Destacados</h3>
				<ul>
					<li><a href="https://www.marca.com/claro-mx/trending/2020/05/16/5ebf52b7ca4741f8708b462d.html">Paises mas afectados con el covid-19</a></li>
					<li><a href="https://www.20minutos.es/noticia/4225780/0/coronavirus-por-paises-muertos-contagios-recuperados/">Pises con mas muertes</a></li>
					<li><a href="https://www.bbc.com/mundo/noticias-america-latina-51713166">Pises afectados por el coronavirus en America latina</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></li>
				</ul>
			</div>
		
			<div class="widget">
				<h3 class="titulo">Informacion</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
		</aside>
		<footer>
			<p>Todos los Derechos Reservados de richard</p>
		</footer>
	</div>
</body>
</html>