<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Layout Basica - Acerca de</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="css/estilos.css">
</head>
<body>
	<div class="contenedor">
		<header>
			<nav>
				<ul>
					<li><a href="index.html">Inicio</a></li>
					<li><a href="info.html">Informacion</a></li>
					<li><a href="tiempo_real.html">Tiempo real</a></li>
					<li><a href="noticias.html">Noticias</a></li>
				</ul>
			</nav>
		</header>
		<section class="main">
			<div class="imagen">
				<img src="img/Info.jpg" alt="">
			</div>
			<section class="posts">
				<article>
					<h2>Coronavirus: lo que se sabe hasta ahora</h2>
					<p>Después de que China haya decretado la mayor cuarentena de la historia
					 en un intento de detener el coronavirus y evitar que se produzca una 
					 pandemia, y mientras la Organización Mundial de la Salud decide si 
					 decreta una alerta de emergencia de salud pública global, presentamos
					  aquí lo que hasta el momento se sabe de la infección..</p>
		
					<p>Las autoridades chinas creen que el foco del contagio se produjo
					 en el mercado de Wuhan, donde además de marisco, se vendían todo tipo
					 de animales domésticos y salvajes, tanto vivos como muertos. Los primeros 
					 casos, de hecho, surgieron en Wuhan, aunque por el momento se desconoce 
					 cómo el virus pasó de los animales a las personas.</p>

					 <p>Aunque al inicio el contagio solo ocurría a partir del contacto con 
					animales, esta semana las autoridades chinas confirmaron que se había 
					producido transmisión entre personas. A partir de ese momento, 
					los coronavirus se contagian como cualquier virus de resfriado, a 
					través de la tos y los estornudos.</p>
				</article>
			</section>
		</section>
		<aside>
			<div class="widget">
				<h3 class="titulo">informacion que le pueda interesar</h3>
				<ul>
					<li><a href="https://www.lavanguardia.com/ciencia/20200124/473099366546/coronavirus-neumonia-wuhan-ultimas-novedades.html">¿SABER MAS?</a></li>
					<li><a href="https://es.wikihow.com/prevenir-el-coronavirus">PREVENIR EL COVID-19</a></li>
					<!--<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></li>-->
				</ul>
			</div>
		
			<div class="widget">
				<h3 class="titulo">IMPORTANTE</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
		</aside>
		<footer>
			<p>Carlos Arturo 2016 - Todos los Derechos Reservados</p>
		</footer>
	</div>
</body>
</html>